# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies (none expected, but keep this in case ad-hoc tooling drops them in)
/node_modules

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# env files (can opt-in for committing if needed)
.env*
