## Frontend ENV Configs
VITE_API_URL=/api/dev
NODE_ENV=development
VITE_APP_TITLE=TPE-Dashboard
VITE_APP_VERSION=2.0.0
# VITE_MAPBOXTOKEN=
# VITE_MAPBOXTILE=
VITE_MAPBOXTOKEN=pk.eyJ1IjoiY29kaW5nYmVhciIsImEiOiJjbWJhc3o3b2QxZ3RuMmxwdHpyY210cnd2In0.7JYX8zi5YD4QGuyYxblsLA
VITE_MAPBOXTILE=mapbox://codingbear.5us3ha70
# [External Dev Don't Need to Fill Below Variable]
VITE_TAIPEIPASS_URL=
# [External Dev Don't Need to Fill Below Variable]
VITE_TAIPEIPASS_SCOPE=
# [External Dev Don't Need to Fill Below Variable]
VITE_TAIPEIPASS_CLIENT_ID=
